*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables */
:root {
    --main-color: rgb(160, 8, 152);
    --font-family: 'Arial', sans-serif;
    /* other variables... */
}
body{
    font-family: var(--font-family);
}
.container{
    width: 100%;
    max-width: 1320px;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding: 30px 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: var(--main-color);
    height: 80px;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.5rem;
   width: 100% ;
}
#logo{
 width: 40px;
}
.logo-wrapper h2{
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    display: none;
}

.navlist li a{
    color: white;
}
.navlist li a:hover{
    color: orange;
}
.navlist a.active{
    color: orange;
}


.navBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.navBtns button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.navBtns button span{
    font-size: 30px;
}




.category-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 1rem;
    margin-top: 3rem;
}
.category-item{
    border: 1px solid rgb(202, 200, 200) ;
    padding: 2rem;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.category-item:hover{
    box-shadow: 1px 1px 10px rgb(209, 209, 209);
    background-color: rgb(253, 243, 253);
}
.category-item img{
    width: 100%;
}




.Product-title, .categories-title{
    color: rgb(161, 161, 161);
    font-weight: 400;
}
.product-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 3rem;
}

.product{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid rgb(202, 200, 200);
    border-radius: 0.5rem;
}
.product:hover{
    box-shadow: 1px 1px 10px rgb(209, 209, 209);
}
.product img{ 
    width: 100%;
}
#product-tag{
    color: gray;
    margin-top: 8px;
}
#produtName{
    margin-top:0.5rem;
}
.star-rating{
    color: orange;
}
.rateAndBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.rateAndBtn button{
    background-color: green;
    outline: none;
    border: none;
    padding: 0.5rem 0.8rem;
    color: white;
    cursor: pointer;
}
.rateAndBtn button:hover{
    background-color: rgb(46, 180, 46);
}

footer{
    background-color: var(--main-color);
    color: white;
}

footer section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.footer-logo-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.footer-logo{
    width: 40px;
}
.footer-linksWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.footer-linksWrapper ul li{
    margin-top: 5px;
}
.footer-linksWrapper ul li a{
    margin-top: 5px;
    color: white;
    font-weight: 200;
    transition: all 0.2s ease;
}
.footer-linksWrapper ul li a:hover{
    color: orange;
}
.social-media-icons{
display: flex;
flex-direction: row;
align-items: center;
gap: 1.5rem;
}
#copywrite-text{
    font-size: 12px;
    font-weight: 300;
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 3rem;
}





/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
   .navBtns{
    display: none;
   }
   .navlist{
    display: flex;
   }
   .product-wrapper{
    grid-template-columns: 1fr 1fr 1fr;
   }
   .category-wrapper{
    grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   .footer-linksWrapper{
      grid-template-columns: 1fr 1fr 1fr;
   }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px){
    /* Your styles for large screens go here */
    .category-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       }
       .product-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
       }
       .footer-linksWrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .product-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       }
       
}